

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.Site{
display:flex;
min-height:100vh;
flex-direction: column;
    background: linear-gradient(180deg,#000 0%,#000 88%,rgb(242, 69, 55) 110%)

}
/*-- navbar styles --*/
.color-scheme{
	background-color: #ff4081;
	/* for male background-color:#304ffe;*/
background-image: linear-gradient(to top,#304ffe 0,#304ffe 100%);
	/*background-image: linear-gradient(to top,#ff4081 0,#ff4081 100%);*/
}

.title{
    color:#B5B5B5 !important;
    text-shadow: 0 0 10px red;
}

.jumbotron{
    background-color: rgba(0,0,0,0);
}

.Site-content{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
}

.main{
    text-align: center;

}
input[type="email"] {
    padding:10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    background-color:rgba(159, 38, 29, 0.49);
    color:#f4f4f4;
}

input[type="email"]:focus, input[type="email"].focus {
    padding:10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    background-color:rgba(159, 38, 29, 0.49);
    color:#f4f4f4;
}

input[type="password"] {
    padding:10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    background-color:rgba(159, 38, 29, 0.49);
    color:#f4f4f4;
}

input[type="password"]:focus, input[type="password"].focus {
    padding:10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    background-color:rgba(159, 38, 29, 0.49);
    color:#f4f4f4;
}

.question{
    color:#f4f4f4;
    font-size:19px;
}
/*-- Jumbotron --*/


.jumbotron{
	padding-top: 0;
	text-align: center;
	padding: 10px 10px;
	margin-bottom:0;

}

.sexual-label{
    color:#8C8989;
}




.myButton {

    -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24537;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:16px;
    font-weight:bold;
    padding:17px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
    background-color:#c62d1f;
    color:#ffffff;
    text-decoration: none;
}
.myButton:active {
    position:relative;
    top:1px;
    text-decoration: none;
    color:#ffffff;
}

.topButton{
    text-align:center;
     border-radius:0;
}



/* footer --*/
 footer{
 	text-align: center;
    color: #f4f4f4;
 }





